@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

@{ var selection = Model.Content.Children.Children.Where(x => x.IsVisible()).ToArray(); 
var check=0;
var number=0;
if (selection.Length > 0){

        foreach (var item in selection){
        if (item.GetPropertyValue<bool>("checkTaskItem"))
        {
            check++;
        }
            number++;
        }
    }
}

        @if ( @number ==  @check){
           <h2>@Umbraco.Field("titleObjective") check</h2>
            
        }
        else{
            <h2>@Umbraco.Field("titleObjective") uncheck</h2>
        }
