<!DOCTYPE root[<!ELEMENT objectiveMain ANY>
<!ATTLIST objectiveMain id ID #REQUIRED>
<!ELEMENT homeU ANY>
<!ATTLIST homeU id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT simpleContentPage ANY>
<!ATTLIST simpleContentPage id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1069" key="b21c68cc-ed83-48f9-b57a-818cd3047ef5" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-07-24T13:42:57" updateDate="2018-07-24T15:50:59" nodeName="Homepage" urlName="homepage" path="-1,1069" isDoc="" nodeType="1066" creatorName="Julien Denoulet" writerName="Julien Denoulet" writerID="0" template="1065" nodeTypeAlias="homePage" isPublished="true">
    <bodyText><![CDATA[<p><span style="display: inline !important; float: none; background-color: transparent; color: #000000; font-family: Lato,sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 24px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;">Hello world! We can write what we like here!</span></p>
<p><span style="display: inline !important; float: none; background-color: transparent; color: #000000; font-family: Lato,sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 24px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;">"Widgets Ltd 2014"</span></p>]]></bodyText>
    <pageTitle><![CDATA[Welcome to Widgets Ltd]]></pageTitle>
    <footerText><![CDATA[Copyright Widgets Ltd 2014]]></footerText>
    <simpleContentPage id="1073" key="b5fb063f-67b4-436d-a9cb-7e37068554f0" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2018-07-24T15:35:12" updateDate="2018-07-24T16:07:29" nodeName="Contact" urlName="contact" path="-1,1069,1073" isDoc="" nodeType="1072" creatorName="Julien Denoulet" writerName="Julien Denoulet" writerID="0" template="1071" nodeTypeAlias="simpleContentPage" isPublished="true">
      <bodyText><![CDATA[<p><strong>Phone</strong></p>
<p>+33 00 00 00 00 00</p>
<p><strong>EMAIL</strong></p>
<p>hello@damdigital.com</p>]]></bodyText>
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
    </simpleContentPage>
    <articlesMain id="1080" key="e02c2178-bf4b-4f6d-ab3f-bb742f64e0f6" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2018-07-25T09:02:32" updateDate="2018-07-25T09:11:36" nodeName="Articles" urlName="articles" path="-1,1069,1080" isDoc="" nodeType="1078" creatorName="Julien Denoulet" writerName="Julien Denoulet" writerID="0" template="1077" nodeTypeAlias="articlesMain" isPublished="true">
      <articlesBodyText><![CDATA[<p>lorem ipusu<span style="display: inline !important; float: none; background-color: transparent; color: #000000; cursor: text; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;">lorem ipusu</span><span style="display: inline !important; float: none; background-color: transparent; color: #000000; cursor: text; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;">lorem ipusu</span></p>
<p><span style="display: inline !important; float: none; background-color: transparent; color: #000000; cursor: text; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;">lorem ipusulorem ipusulorem ipusulorem ipusulorem ipusulorem ipusu</span></p>
<p><span style="display: inline !important; float: none; background-color: transparent; color: #000000; cursor: text; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;">lorem ipusulorem ipusu</span></p>
<p><span style="display: inline !important; float: none; background-color: transparent; color: #000000; cursor: text; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;">lorem ipusulorem ipusulorem ipusulorem ipusulorem ipusulorem ipusu</span></p>]]></articlesBodyText>
      <articlesTitle><![CDATA[Titre article]]></articlesTitle>
      <articlesItem id="1084" key="77e30c47-57ed-495d-bcd6-7b30e74fd98c" parentID="1080" level="3" creatorID="0" sortOrder="0" createDate="2018-07-25T09:25:25" updateDate="2018-07-25T09:25:25" nodeName="New year" urlName="new-year" path="-1,1069,1080,1084" isDoc="" nodeType="1083" creatorName="Julien Denoulet" writerName="Julien Denoulet" writerID="0" template="1082" nodeTypeAlias="articlesItem" isPublished="true">
        <articleContents><![CDATA[<p>New yearNew yearNew year</p>
<p>New yearNew year</p>
<p>New year</p>]]></articleContents>
        <articleTitle><![CDATA[New year]]></articleTitle>
      </articlesItem>
      <articlesItem id="1085" key="3578a278-81b3-4ba7-9ff2-e0cb76660e73" parentID="1080" level="3" creatorID="0" sortOrder="1" createDate="2018-07-25T09:25:49" updateDate="2018-07-25T09:25:57" nodeName="Chrismas" urlName="chrismas" path="-1,1069,1080,1085" isDoc="" nodeType="1083" creatorName="Julien Denoulet" writerName="Julien Denoulet" writerID="0" template="1082" nodeTypeAlias="articlesItem" isPublished="true">
        <articleContents><![CDATA[<p>ChrismasChrismasChrismas</p>
<p>ChrismasChrismas</p>
<p>Chrismas</p>]]></articleContents>
        <articleTitle><![CDATA[Chrismas]]></articleTitle>
      </articlesItem>
      <articlesItem id="1086" key="418b5fc8-dcde-4ce5-9161-b6288a8e049a" parentID="1080" level="3" creatorID="0" sortOrder="2" createDate="2018-07-25T09:26:33" updateDate="2018-07-25T09:26:33" nodeName="birthday" urlName="birthday" path="-1,1069,1080,1086" isDoc="" nodeType="1083" creatorName="Julien Denoulet" writerName="Julien Denoulet" writerID="0" template="1082" nodeTypeAlias="articlesItem" isPublished="true">
        <articleContents><![CDATA[<p>birthdaybirthdaybirthday</p>
<p>birthdaybirthday</p>
<p>birthday</p>]]></articleContents>
        <articleTitle><![CDATA[birthday]]></articleTitle>
      </articlesItem>
    </articlesMain>
  </homePage>
  <homeU id="1092" key="ee1787b9-2251-4cd8-81e6-85012056b77f" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2018-07-25T11:12:48" updateDate="2018-07-25T11:24:53" nodeName="HomeU" urlName="homeu" path="-1,1092" isDoc="" nodeType="1090" creatorName="Julien Denoulet" writerName="Julien Denoulet" writerID="0" template="1089" nodeTypeAlias="homeU" isPublished="true">
    <homeTitle><![CDATA[List of objectives]]></homeTitle>
    <footerText><![CDATA[Julien 2018]]></footerText>
    <objectiveMain id="1097" key="50324a0b-fc32-405c-82b6-c0527dae60a0" parentID="1092" level="2" creatorID="0" sortOrder="0" createDate="2018-07-25T14:20:46" updateDate="2018-07-25T14:20:46" nodeName="Objective" urlName="objective" path="-1,1092,1097" isDoc="" nodeType="1094" creatorName="Julien Denoulet" writerName="Julien Denoulet" writerID="0" template="1093" nodeTypeAlias="objectiveMain" isPublished="false">
      <titleObjective><![CDATA[my objectives]]></titleObjective>
    </objectiveMain>
  </homeU>
</root>