<!DOCTYPE root[<!ELEMENT simpleContentPage ANY>
<!ATTLIST simpleContentPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1069" key="b21c68cc-ed83-48f9-b57a-818cd3047ef5" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-07-24T13:42:57" updateDate="2018-07-24T13:56:05" nodeName="Homepage" urlName="homepage" path="-1,1069" isDoc="" nodeType="1066" creatorName="Julien Denoulet" writerName="Julien Denoulet" writerID="0" template="1065" nodeTypeAlias="homePage" isPublished="true">
    <bodyText><![CDATA[<p><span style="display: inline !important; float: none; background-color: transparent; color: #000000; font-family: Lato,sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 24px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;">Hello world! We can write what we like here!</span></p>
<p><span style="display: inline !important; float: none; background-color: transparent; color: #000000; font-family: Lato,sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; line-height: 24px; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;">"Widgets Ltd 2014"</span></p>]]></bodyText>
    <pageTitle><![CDATA[Welcome to Widgets Ltd]]></pageTitle>
    <footerText><![CDATA[Copyright Widgets Ltd 2014]]></footerText>
    <simpleContentPage id="1073" key="b5fb063f-67b4-436d-a9cb-7e37068554f0" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2018-07-24T15:35:12" updateDate="2018-07-24T15:39:50" nodeName="Contact Us" urlName="contact-us" path="-1,1069,1073" isDoc="" nodeType="1072" creatorName="Julien Denoulet" writerName="Julien Denoulet" writerID="0" template="1071" nodeTypeAlias="simpleContentPage" isPublished="false" />
  </homePage>
</root>