@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomeU>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterU.cshtml";
}
<div id="main-container">
	<div id="main" class="wrapper clearfix">
		    <hr>
		    <div class="image" >
		        <img src="/media/1002/target.png" alt="Objectif icon" style="width:128px;height:128px;"> 
		    </div>
		    <hr>
		    <div class="button">
		        <a href="/objective" style="color:inherit"><button type="button" class="btn btn-primary"> --> Ckick here to view the objectives <--</button</a>
		    </div>
		</div> <!-- #main -->
	</div> <!-- #main-container -->