@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
} <!doctype html>
<html lang="en"> 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Challenge</title>
	<meta name="description" content="Developer Technical Challenge">
	<meta name="author" content="Julien">

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/Umbraco/css/css/bootstrap.min.css">
	<link rel="stylesheet" href="/Umbraco/css/css/styleU.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>
<script src="/Umbraco/Js/libs/js/backU.js"></script>

</head>
<body>
    <p hidden id="IdPage">@CurrentPage.Id</p>

	<div id="header-container">
		<header class="wrapper clearfix">
			<h1 id="title">@Umbraco.Field("homeTitle", recursive: true)</h1>
			<nav>
				<ul>
					<li><a href="/homeu">Home</a></li>
					<li><a href="/objective">My objective</a></li>
				</ul>
			</nav>
		</header>
	</div>
	@RenderBody()

		@if(@CurrentPage.Name!="HomeU"){
		<div class="wrapper clearfix"> <a href=@CurrentPage.Parent.url style="color:inherit;"> <button type="button" class="btn btn-primary">return</button></a></div>
		}	
		<div id="footer-container">
		<footer class="wrapper">
			<h3>@Umbraco.Field("footerText", recursive: true)</h3>
		</footer>
	</div>

</body>
</html>
